  <div class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col sizeMd="2">Name</ion-col>
      <ion-col sizeMd="2">Profession</ion-col>
      <ion-col sizeMd="2">Technology</ion-col>
      <ion-col sizeMd="2">City</ion-col>
      <ion-col sizeMd="2">Priority</ion-col>
      <ion-col sizeMd="2">Notes</ion-col>

    </ion-row>
    <ion-list *ngFor="let user of users" (click)="openUserData(user)">
      <ion-row>
        <ion-col sizeMd="2" >{{user.name}}</ion-col>
        <ion-col sizeMd="2" >{{user.profession}}</ion-col>
        <ion-col sizeMd="2" >{{user.technology}}</ion-col>
        <ion-col sizeMd="2" >{{user.city}}</ion-col>
        <ion-col sizeMd="2" >{{user.priority}}</ion-col>
        <ion-col sizeMd="2" >{{user.notes}}</ion-col>

      </ion-row>
    </ion-list>
    
  </ion-grid>
  <!-- <ion-button expand="block" color="success" (click)="updateUser()">
    <ion-icon name="save" slot="start"></ion-icon> Update
  </ion-button>
<ion-button expand="block" color="danger" (click)="deleteUser()">
  <ion-icon name="trash" slot="start"></ion-icon>
Delete
</ion-button> -->
</div>